/* Fuente principal */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* si querés fondo negro */
    color: white; /* texto blanco */
}

/* Sección principal */
.hero {
    text-align: center;
    padding: 40px 20px;
}

/* Contenedor centrado */
.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Imagen del banner */
.hero-logo {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
}

/* Título */
.hero-title {
    font-size: 2.5rem;
    margin-top: 20px;
}

/* Texto */
.hero-text {
    font-size: 1.1rem;
    margin: 15px 0;
}

/* Colores especiales */
.mf {
    color: #00b4ff;
    font-weight: bold;
}

.mg {
    color: #ff004c;
    font-weight: bold;
}

